.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

h1,
h2 {
  color: #00a6ff;
}

h3 {
  color: #00fb69;
}

button {
  cursor: pointer;
  background: #333;
  color: #ab00fb;
  font-weight: 700;
  font-size: 22px;
  padding: 10px 25px;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid #ab00fb;
  border-radius: 50px;
}

form,
input[type="text"] {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  text-align: left;
}

label {
  font-size: 22px;
  margin-bottom: 12px;
  display: block;
  color: #de9cfc;
  font-weight: medium;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

p {
  max-width: 50%;
}

input[type="text"] {
  background: #333;
  color: #ab00fb;
  font-weight: 700;
  font-size: 22px;
  padding: 10px 25px;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid #ab00fb;
  border-radius: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
